! urxvt .Xresources file
! view urxvt --help for full listing of options

! URXVT SETTINGS
! --------------------------------------------------------------

! locale 
*utf8: 1
*locale: utf8
URxvt*imLocale: en_US.UTF-8
 
URxvt*scrollstyle: plain
URxvt*jumpScroll: true
URxvt*skipScroll: true
URxvt*saveLines: 1000
URxvt.scrollBar: false

! fonts
*font: xft:dina:pixelsize=10,\
       -*-fontawesome-medium-r-normal-*-12-*-*-*-*-0-*-*,\
*boldFont: xft:dina:pixelsize=10:bold
*italicFont: xft:dina:pixelsize=10:italic

! font settings
*letterSpace: 0
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*fading: 0

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! color settings
! special 
URxvt*foreground: #fdfdfd
URxvt*background: [100]#010b13
URxvt*cursorColor: #fdfdfd
URxvt*pointerColorBackground: #00001e
URxvt*pointerColorForeground: #2299ae
URxvt*fadeColor: #000000

! black 
URxvt*color0: #010b13
! dark gray
URxvt*color8: #0a1c29

! red
URxvt*color1: #ua62af
URxvt*color9: #e83099

! green 
URxvt*color2: #afed5e
URxvt*color10: #89e70d

! yellow
URxvt*color3: #f0e875
URxvt*color11: #e7d90d

! blue 
URxvt*color4: #5eafed
URxvt*color12: #0d89e7

! magenta 
URxvt*color5: #9d5eed
URxvt*color13: #791cf2

! cyan 
URxvt*color6: #5eede4
URxvt*color14: #0de7d9

! light gray
URxvt*color7: #8b8b8b
! white
URxvt*color15: #fdfdfd

! ROFI SETTINGS
! --------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #010b13, #0a1c29, #0a1c29
rofi.color-normal: #010b13, #fdfdfd, #0a1c29, #89e70d, #010b13
